* {
    box-sizing: border-box;
}

body {
    background-color: burlywood;
    font-size: 4.5vmin;
}

header {
    text-align: center;
}

#chess-container {
    width: 72vmin;
    height: 72vmin;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    border: 0.001vmin solid black;
}

.black {
    background-color: #769656;
    flex-basis: 12.5%;
    height: 12.5%;
    text-align: center;
    border: 0.001vmin solid black;
}

.black:hover {
    background-color: #7696568e;
    border-color: #0000008e;
    cursor: pointer;
}

.white {
    background-color: #eeeed2;
    width: 12.5%;
    height: 12.5%;
    text-align: center;
    border: 0.001vmin solid black;
}

.white:hover {
    background-color: #eeeed28e;
    border-color: #0000008e;
    cursor: pointer;
}

.chess-piece {
    width: 83%;
    height: 83%;
}

footer {
    text-align: center;
    font-size: 1.5vmin;
}
