@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Raleway:wght@100&display=swap');

/* ==========================================
          --MISC
========================================== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ==========================================
          --TYPOGRAPHY
========================================== */

#home h1 {
  font-family: 'EB Garamond', serif;
}
body {
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: coral;
}

#home h1 {
  font-size: 4rem;
}

#home p {
  font-size: 2em;
}

/* ==========================================
          --LAYOUT
========================================== */
.header {
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 100%;
  height: 60px;
  z-index: 1;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  max-width: 1500px;
  justify-content: space-around;
  align-items: center;
}

.left-container,
.right-container {
  display: flex;
  flex-flow: row nowrap;
  width: 300px;
  z-index: 1;
}

.left-container {
  justify-content: flex-start;
}

.nav-left,
.nav-right {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  flex-basis: 300px;
  align-items: center;
}

#home,
.image-wrapper,
.text-wrapper,
#bio {
  display: flex;
}

.image-wrapper,
.text-wrapper {
  width: 50%;
}

.image-wrapper,
.text-wrapper {
  justify-content: center;
  align-items: center;
}

.text-wrapper,
#bio {
  flex-direction: column;
}

section {
  height: 100vh;
}

/* ==========================================
          --COMPONENTS
========================================== */

.nav-left,
.nav-right {
  list-style-type: none;
}

.header,
section:nth-child(odd) {
  background-color: white;
}

body,
.bio-wrapper,
.trademark-wrapper {
  background-color: #f0efea;
}

.image-wrapper img {
  width: 50%;
}

.bio-wrapper,
.trademark-wrapper {
  border-radius: 1em;
}

#bio,
.bio-wrapper,
.trademark-wrapper {
  padding: 1em;
}

.bio-wrapper {
  height: 30vh;
}

#bio-text {
  margin: 2em 0 1em 0;
}

.bio-wrapper p {
  margin-bottom: 1em;
}

.bio-headers {
  margin: 1em 0 1em 0;
}

.trademark-wrapper ul {
  margin-left: 1em;
}
