@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Raleway:wght@100&display=swap');

/* ==========================================
          --MISC
========================================== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ==========================================
          --TYPOGRAPHY
========================================== */

#home h1 {
  font-family: 'EB Garamond', serif;
}
body {
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

#home h1,
p {
  font-size: 7em;
}

#home p {
  font-size: 3em;
}

/* ==========================================
          --LAYOUT
========================================== */
.header {
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 100%;
  height: 60px;
  z-index: 1;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  max-width: 1500px;
  justify-content: space-around;
  align-items: center;
}

.left-container,
.right-container {
  display: flex;
  flex-flow: row nowrap;
  width: 300px;
  z-index: 1;
}

.left-container {
  justify-content: flex-start;
}

.nav-left,
.nav-right {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  flex-basis: 300px;
  align-items: center;
}

#home {
  position: relative;
}

#home img {
  position: absolute;
  bottom: 10%;
  left: 25%;
}

#home h1,
p {
  position: absolute;
  bottom: 15%;
  left: 55%;
}

#home p {
  position: absolute;
  bottom: 12%;
  left: 55%;
}
section {
  height: 100vh;
  width: 100%;
}

#home img {
  width: 27%;
}

/* ==========================================
          --COMPONENTS
========================================== */

.nav-left,
.nav-right {
  list-style-type: none;
}

.header,
section:nth-child(odd) {
  background-color: white;
}

body {
  background-color: #f0efea;
}
