@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
  font-family: 'Righteous', cursive;
  background: rgb(133, 111, 173);
  background: radial-gradient(circle, rgba(133, 111, 173, 1) 0%, rgba(64, 37, 119, 1) 66%, rgba(64, 37, 119, 1) 100%);
  /*background-repeat: no-repeat;*/
}

h1,
h2 {
  color: white;
}

.header {
  text-align: center;
  line-height: 80%;
}
.chessboard-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chessboard-border {
  height: 590px;
  width: 576px;
  background: rgb(255, 255, 255);
  padding: 10px;
}

.flexbox-container,
.flexbox-container-2,
.flexbox-container-3,
.flexbox-container-4,
.flexbox-container-5,
.flexbox-container-6,
.flexbox-container-7,
.flexbox-container-8 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 72px;
  width: 576px;
  border: 1px solid #333;
}

.flexbox-item-1st-row,
.flexbox-item-2nd-row,
.flexbox-item-3rd-row,
.flexbox-item-4th-row,
.flexbox-item-5th-row,
.flexbox-item-6th-row,
.flexbox-item-7th-row,
.flexbox-item-8th-row {
  width: 72px;
  height: 72px;
}

.flexbox-item-1,
.flexbox-item-3,
.flexbox-item-5,
.flexbox-item-7,
.flexbox-item-10,
.flexbox-item-12,
.flexbox-item-14,
.flexbox-item-16,
.flexbox-item-17,
.flexbox-item-19,
.flexbox-item-21,
.flexbox-item-23,
.flexbox-item-26,
.flexbox-item-28,
.flexbox-item-30,
.flexbox-item-32,
.flexbox-item-33,
.flexbox-item-35,
.flexbox-item-37,
.flexbox-item-39,
.flexbox-item-42,
.flexbox-item-44,
.flexbox-item-46,
.flexbox-item-48,
.flexbox-item-49,
.flexbox-item-51,
.flexbox-item-53,
.flexbox-item-55,
.flexbox-item-58,
.flexbox-item-60,
.flexbox-item-62,
.flexbox-item-64 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  background-image: url('../images/soil.png');
}

.flexbox-item-2,
.flexbox-item-4,
.flexbox-item-6,
.flexbox-item-8,
.flexbox-item-9,
.flexbox-item-11,
.flexbox-item-13,
.flexbox-item-15,
.flexbox-item-18,
.flexbox-item-20,
.flexbox-item-22,
.flexbox-item-24,
.flexbox-item-25,
.flexbox-item-27,
.flexbox-item-29,
.flexbox-item-31,
.flexbox-item-34,
.flexbox-item-36,
.flexbox-item-38,
.flexbox-item-40,
.flexbox-item-41,
.flexbox-item-43,
.flexbox-item-45,
.flexbox-item-47,
.flexbox-item-50,
.flexbox-item-52,
.flexbox-item-54,
.flexbox-item-56,
.flexbox-item-57,
.flexbox-item-59,
.flexbox-item-61,
.flexbox-item-63 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  background-image: url('../images/grass.jpeg');
  /*Added home on file path*/
}

img {
  width: 60px;
  height: 60px;
}

/* mobile phones - less than 450px width*/
@media screen and (max-width: 450px) {
  .chessboard-border {
    height: 700px;
    width: 320px;
    background: rgb(255, 255, 255);
  }

  .flexbox-container,
  .flexbox-container-2,
  .flexbox-container-3,
  .flexbox-container-4,
  .flexbox-container-5,
  .flexbox-container-6,
  .flexbox-container-7,
  .flexbox-container-8 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 40px;
    width: 320px;
    border: 1px solid #333;
  }

  .flexbox-item-1st-row,
  .flexbox-item-2nd-row,
  .flexbox-item-3rd-row,
  .flexbox-item-4th-row,
  .flexbox-item-5th-row,
  .flexbox-item-6th-row,
  .flexbox-item-7th-row,
  .flexbox-item-8th-row {
    width: 40px;
    height: 40px;
  }

  img {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 420px) {
  .chessboard-border {
    height: 340px;
    width: 320px;
    background: rgb(255, 255, 255);
  }
}

/* mobile phones - less than 400px width */
@media screen and (max-width: 400px) {
  .chessboard-border {
    height: 260px;
    width: 242px;
    background: rgb(255, 255, 255);
  }

  .flexbox-container,
  .flexbox-container-2,
  .flexbox-container-3,
  .flexbox-container-4,
  .flexbox-container-5,
  .flexbox-container-6,
  .flexbox-container-7,
  .flexbox-container-8 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 30px;
    width: 240px;
    border: 1px solid #333;
  }

  .flexbox-item-1st-row,
  .flexbox-item-2nd-row,
  .flexbox-item-3rd-row,
  .flexbox-item-4th-row,
  .flexbox-item-5th-row,
  .flexbox-item-6th-row,
  .flexbox-item-7th-row,
  .flexbox-item-8th-row {
    width: 30px;
    height: 30px;
  }

  img {
    width: 30px;
    height: 30px;
  }
}
