/* VARIABLES AND IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Raleway:wght@100&display=swap');

/* MISC  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* TYPOGRAPHY */
h1 {
  font-family: 'EB Garamond', serif;
}
body {
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

/* POSITION */
.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  position: relative;
  width: 100%;
  height: 60px;
  z-index: 1;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  max-width: 1500px;
  justify-content: space-around;
  align-items: center;
}

.left-container,
.right-container {
  display: flex;
  flex-flow: row nowrap;
  width: 300px;
  z-index: 1;
}

.left-container {
  justify-content: flex-start;
}

.right-container {
  justify-content: flex-end;
}

.nav-left,
.nav-right {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  flex-basis: 300px;
  align-items: center;
}
/* color and design  */
.nav-left,
.nav-right {
  list-style-type: none;
}
