/*test*/
*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box;
     search mo */
}

h1{
    text-align: center;
    margin-top: 3%;
}

.chessContainer{
    /* background-color: yellow;*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*make your container your whole screen*/
}

.column{
    background-color: red;
    display: flex;
    flex-direction: column;
    border-style: solid;
}

.white{
    background-color: white;
    display: flex;
    height: 5vw;
    width: 5vw;
    /*vw content will not change whatsoever*/
    /*px you can zoom in and out
    regardless of screen size it will remain the same*/
}

.black{
    background-color: black;
    display: flex;
    height: 5vw;
    width: 5vw;
}