*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

html {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    background-image: url(assets/bg/Pragser\ Wildsee\,\ Italy\ |\ Photo\ by\ Pietro\ De\ Grandi\ on\ Unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
}

body, #container {
    height: 100%;
    width: 100%;
}

/* Sections */
.top-row {
    height: 9%;
}

.center-above {
    height: 26%;
}

.center {
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.5rem;
}

    .time {
        font-size: 9rem;
        margin-left: 49%;
        margin-right: 51%;
    }

.center-below {
    height: 26%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    padding-top: 3.5%;
}

    #focus-input {
        display: block;
        background: 0;
        border: 0;
        border-bottom: 2px solid #fff;
        color: white;
        font-size: 1.75rem;
        text-align: center;
        outline-style: none;
    }

.bottom-row {
    height: 9%;
    display: flex;
}

    #location-container {
        width: 20%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 20px;
    }

        #location-container > img {
            width: 18px;
            height: 18px;
            margin-right: 2px;
            filter: invert();
            vertical-align: text-bottom;
        }

        #location {
            font-size: 0.75rem;
        }

    #quotes-container {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.219);
        text-align: center;
    }

        #quotes-text {
            position: relative;
            display: inline-block;
        }

        #quotes-addtl-container {
            display: flex;
            align-items: center;
            display: none;
        }

            /* on hover */
            #quotes-container:hover #quotes-addtl-container {
                display: block;
                opacity: 1;
            }

            #quotes-container img {
                filter: invert();
                height: 18px;
                width: 18px;
                vertical-align: middle;
            }

            #quotes-container img:hover {
                opacity: 0.4;
                filter: initial;
                transform: scale(1.1);
            }

    #toDo-container {
        width: 20%;
        float:right;
    }

        #ToDo {
            float: right;
            position: absolute;
            padding-top: 3%;
            padding-left: 1%;
            padding-right: 1%;
            bottom: 2%;
            right: 2%;
            height: 8%;
            cursor: pointer;
        }