* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
}

/* hides elements when page initially loads */
.name-container p,
#time,
#focus-header,
#textbox-focus {
  /* visibility: hidden; */
  display: none;
}
