* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
}

/* hides elements when page initially loads */
#greeting-mantra-holder,
#time,
#header-focus,
#textbox-focus,
#text-focus,
#text-focus-remarks,
#form-todo {
  /* visibility: hidden; */
  display: none;
}

#form-todo {
  position: absolute;
  bottom: 1vh;
  right: 20vh;
  background-color: white;
  height: 10vh;
  width: 5vh;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}
