body {
    background-color: #18335b;
}

* {
    color: white;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

html {
    text-shadow: 0 1px black;
    padding: 10px;
    font-size: 2vmax;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#title {
    text-align: center;
    font-size: 4vmax;
    text-shadow: 1px 1px grey;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#img-div {
    background-size: auto;
    background-color: #fdbc00;
    padding-top: 15px;
    padding-bottom: 5px;
}

#img-caption {
    text-align: center;
    font-size: 1.4vmax;
    color: Linen;
    text-shadow: none;
}

#img-div, #img-caption, #tribute-info {
    padding-bottom: 10px;
}

img {
    max-width: 75%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    border-style: solid;
    border-color: #3c327f;
    border-width: 2px;
}

h1, h2, h4 {
    padding-top: 4vmax;
}

h1 + h2 {
    padding-top: 5px;
}

p, #tribute-info {
    text-align: justify;
    width: 95%;
}