header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background: #F3DF4C;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px; /*top 0px left/right 20px*/
}

#header-img, li {
 cursor: pointer; 
}



* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
}

#header-img {
  width: 4vh;
  height: 4vh;
}

/* media query */

@media (orientation:landscape) {
  /* codes here */
}

/* with condition */
/* for OR condition, replace and with comma (,) */
@media (orientation:landscape) and (max-width:500px) {
  /* codes here */
}

@media (max-width:360px) and (max-height:640px) {
  /* codes here   */
}