/* ==========================================
          --MISC
========================================== */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* ==========================================
          --TYPOGRAPHY
========================================== */
body {
  font-family: 'Rubik', sans-serif;
}

/* ==========================================
          --LAYOUT
========================================== */
body {
  display: flex;
}

/* ==========================================
          --COMPONENTS
========================================== */
section {
  height: 100vh;
}

#picture {
  width: 40%;
  background-image: url(assets/amy-shamblen-xwM61TPMlYk-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.form-field {
  display: block;
}
