* {
    box-sizing: border-box;
}

body {
    background-color: burlywood;
    font-size: 5vmin;
}

header {
    text-align: center;
}


#chess-container {
    width: 72vmin;
    height: 72vmin;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

.black {
    background-color: #769656;
    text-align: center;
    border: 1px solid black;
}

.white {
    background-color: #eeeed2;
    text-align: center;
    border: 1px solid black;
}

.chess-grid {
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.chess-piece {
    width: 90%;
    height: 90%;
}

footer {
    text-align: center;
    font-size: 1.5vmin;
}