* {
    box-sizing: border-box;
}

body {
    background-color: burlywood;
    font-size: 4.5vmin;
}

h1, h6 {
    border: 0;
    margin: 2vmin;
    padding: 0;
}

header {
    text-align: center;
}

#chess-container {
    width: 76.5vmin;
    height: 76.5vmin;
    margin-left: auto;
    margin-right: auto;
    border: 0.001vmin solid black;
}

.black {
    background-color: #769656;
    text-align: center;
    border: 0.001vmin solid black;
}

.white {
    background-color: #eeeed2;
    text-align: center;
    border: 0.001vmin solid black;
}

.black:hover {
    background-color: #7696568e;
    border-color: #0000008e;
    cursor: pointer;
}

.white:hover {
    background-color: #eeeed28e;
    border-color: #0000008e;
    cursor: pointer;
}

.chess-grid {
    display: grid;
    grid-gap: 0;
    grid-template-columns: .25fr repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr) .25fr;
}

.number, .letter {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vmin;
    background-color: darkkhaki;
}

.chess-piece {
    width: 83%;
    height: 83%;
}

footer {
    text-align: center;
    font-size: 1.5vmin;
}

#king {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/e/e3/Chess_kdt60.png);
    background-size: 93% 93%;
    background-repeat: no-repeat;
    background-position: center; 
}

#knight {
    animation-name: winner;
    animation-delay: 3s;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    z-index: 1;
}

#king {
    animation-name: winner-2;
    animation-delay: 3s;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes winner {
    15% {
        transform: translateX(-18.55vmin);
    }
    50% {
        transform: translate(-18.55vmin,-8.5vmin);
    }
    100% {
        transform: translate(-18.55vmin,-8.5vmin);
    }
}

@keyframes winner-2 {
    40% {
        background-image: url(https://upload.wikimedia.org/wikipedia/commons/e/e3/Chess_kdt60.png);
    }
    50% {
        background-image: none;
    }
    100% {
        background-image: none;
    }
}