*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
  }

:root {
    --main-color-1: #23a450;
    --main-color-2: #52c04e;
    --main-color-3: #474a4d;
}

html {
    font-size: 20px;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    color: var(--main-color-3);
}

body {
    height: 100%;
    width: 100%;
}

.hide {
    height: 0;
    width: 0;
    display: none;
    visibility: hidden;
}

button {
    cursor: pointer;
}

button:hover {
    opacity: 0.85;
}

a {
    text-decoration: none;
    color: white;
}

/* HEADER PORTION 10% */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    margin-left: 20px;
    margin-right: 30px;
}

    .bank-logo {
        display: flex;
        justify-content: center;
    }

    .logo-name {
        height: 7.5vh;
    }

    .button-container button {
        width: 140px;
        font-size: 0.8rem;
        font-family: inherit;
        background-color: var(--main-color-1);
        color: white;
        font-weight: bold;
        padding: 5px 10px 5px 10px;
        border-radius: 0.75rem;
    }

/* NAVBAR 5% */
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5%;
    padding-left: 20px;
    padding-right: 30px;
    background-color: var(--main-color-1);
    color: white;
}

    .nav-item {
        font-size: 0.9rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        height: 100%;
        width: 150px;
    }

    .active {
        font-weight: bold;
        text-decoration: underline;
    }

.title {
    font-size: 1.25rem;
    color: var(--main-color-1);
    margin-bottom: 5px;
}

/* MAIN PORTION 85% */
.content {
    height: 85%;
    padding-top: 15px;
    margin-left: 20px;
    margin-right: 30px;
}

.content-item {
    height: 100%;
    width: 100%;
}

    /* HOME */
    .content-home {
        font-size: 1.5rem;
    }

    /* CLIENT LIST */
        /* TABLE */
        .client-table {
            width: 90%;
            border-collapse: collapse;
            margin-left: auto;
            margin-right: auto;
            border: 1px solid black;
        }

        .client-table td, .client-table th {
            text-align: center;
            padding: 12px;
        }

        .client-table td:nth-child(3) {
            text-align: right;
        }

        .client-table th {
            background-color: var(--main-color-1);
            color: white;
        }

        .client-table tr:nth-child(even) {background-color: #f2f2f2;}

        /* ADD BUTTON */
        .client-list-addBtn {
            margin-top: 3vh;
            margin-left: 5vw;
            border-radius: 3px;
            padding: 15px;
            font-family: inherit;
            font-size: 0.8rem;
            font-weight: bold;
            color: whitesmoke;
            background-color: var(--main-color-1);
        }

    /* ADD CLIENT */

    /* TRANSACTIONS */
    .transaction-headers {
        margin-bottom: 20px;
        background-color: var(--main-color-2);
    }

    .transaction-navBtn {
        background-color: transparent;
        font-family: inherit;
        font-size: 1.1rem;
        padding: 12px;
        color: white;
    }

    .active-btn {
        background-color: #8d8d8d;
    }

/* SHARED: Inputs and Buttons */
.form-item input {
    width: 430px;
    font-family: inherit;
    font-size: 0.8rem;
    padding: 5px;
    border-radius: 3px;
    box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
    border: 1px solid rgb(131, 131, 131);
    margin-bottom: 10px;
    color: var(--main-color-3);
}

.form-item input:focus {
    outline-color: var(--main-color-1);
}

.add-button {
    padding: 10px;
    border-radius: 3px;
    font-family: inherit;
    font-size: 0.7rem;
    font-weight: bold;
    color: whitesmoke;
    background-color: var(--main-color-1);
}

/* SUCESSFUL MODAL */
.my_alert {
    display: none;
    position: fixed;
    z-index: 1; 
    left: 10%;
    top: 5%;
    width: 75%;
    height: 5%;
    padding: 5px 0 5px 15px;
    color: #4F8A10;
    background-color: #DFF2BF;
    opacity: 1;
    transition: opacity 0.6s;
}

/* VIEW PROFILE */
.profile-modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}

.profile-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

/* SECTIONING */
    .modal-top {
        height: 20%;
        width: 100%;
    }

    .modal-left {
        height: 80%;
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        #profile-balance {
            font-size: 1.2rem;
        }

    .modal-right {
        height: 80%;
        width: 60%;
    }

        .left-column {
            text-align: left;
            font-weight: bold;
        }

        .modal-table tr td span {
            margin-left: 5px;
        }

/* Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }