/*test*/
body{
    margin: 0;
    padding: 0;
    font-family: cursive;
}

#particles-js
{
/*Don't touch*/
    z-index: -1;
    width: 100vw;
    position: absolute;
    background:white;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.mainGrid{
    /*background-color: grey;*/
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
/*You are only controlling blue and green since red is already a header*/    
    grid-template-rows: 130px 400px 400px;
/*You can control all your grid*/
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas:
    "header header"
    /*"footer footer";*/
}

.header{
    /*background-color: red;*/
    /*border-style: solid;*/
    display: grid;
    grid-area: header;
    justify-content: center;
    align-content: center;
}

.flexHeader{
    background-color: white;
/*Need background color for it not to be transparent*/
    border-style: solid;
    border-radius: 25px;
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.button{
    font-family: cursive;
    cursor: pointer;
    background-color: white;
    border: none;
    outline: none;
/*to remove border outline after clicking*/
    /*transition: background-color 1s;
this is for another design*/
}

.button:hover{
    /*background-color: lightskyblue;*/
    color: grey;
    font-weight: bold;
}

/*.footer{
    background-color: yellow;
    border-style: solid;
    margin: 10px;
    display: grid;
    grid-area: footer;
}*/

.instructionsGrid{
    /*background-color: blue;*/
    border-style: solid;
    border-radius: 25px;
    margin-left: 100px;
    background-color: white;
/*Need background color for it not to be transparent*/
    display: grid;
    overflow: auto;
/*I don't know why I need two overflow: auto for the slidebar to not spill*/
}

.instructionsFlex{
    /*background-color: brown;*/
    /*border-style: solid;*/
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
/*I don't know why I need two overflow: auto for the slidebar to not spill*/
}

.gridChessBoard{
    /*background-color: green;*/
    /*border-style: solid;*/
    margin-right: 100px;
    display: grid;
    grid-template-columns: repeat(8, 3.8vw);    
    grid-template-rows: repeat(8, 3.8vw);
/*Adjust size to see what you are moving and counting*/
    justify-content: center;
    align-content: center;
}

.gridBoxGrey{
    background-color: grey;
    border-style: solid;
    display: grid;
}

.gridBoxWhite{
    background-color: white;
    border-style: solid;
    display: grid;
}