*{
    cursor: pointer;
}

::-webkit-scrollbar{
    width: 13px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 10px grey;
    border-radius: 25px;
}

::-webkit-scrollbar-thumb{
    background: darkgray;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background: grey;
}

body{
    margin: 0;
    padding: 0;
    font-family: cursive;
}

h1, h2{
    transition: font-size 1s;
}

h1{
    font-size: 28px;
}

h2{
    font-size: 23px;
}

h1:hover{
    font-size: 32px;
}

h2:hover{
    font-size: 27px;
}

h3{
    text-align: center;
}

p{
    text-align: center;
}

dt{
    font-size: 17px;
    transition: font-size 1.5s;
}

dt:hover{
    font-size: 20px;
}

dd{
    font-size: 12px;
    transition: font-size 1.5s;
}

dd:hover{
    font-size: 14px;
}

#particles-js
{
/*Don't touch*/
    z-index: -1;
    width: 100vw;
    position: absolute;
    background:white;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.mainGrid{
    /*background-color: grey;*/
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
/*You are only controlling blue and green since red is already a header*/    
    grid-template-rows: 130px 400px 400px;
/*You can control all your grid*/
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas: "header header";
}

.header{
    /*background-color: red;*/
    /*border-style: solid;*/
    display: grid;
    grid-area: header;
    justify-content: center;
    align-content: center;
}

.mainHeaderFlex{
    /*background-color: red;*/
    height: 110px;
    width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.flexHeaderOne{
    /*background-color: blue;*/
    height: 100px;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo{
    /*background: yellow;*/
    border-style: solid;
    border-radius: 3px;
    display: flex;
    height: 5vw;
    width: 5vw;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 5px;
}

.flexHeaderTwo{
    background-color: transparent;
/*Need background color for it not to be transparent*/
    border-style: solid;
    border-radius: 25px;
    width: 450px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.buttonHeader{
    font-family: cursive;
    background-color: transparent;
    border: none;
    outline: none;
/*to remove border outline after clicking*/
    /*transition: background-color 1s;
this is for another design*/
    font-size: 15px;
    transition: /*color 1.5s,*/ font-weight 1.5s, font-size 1.5s, transform 1.5s;
    /*ease ease-in ease-out*/
}

.buttonHeader:hover{
    /*background-color: lightskyblue;*/
    color: darkgray;
    font-weight: bold;
    font-size: 20px;
    transform: rotateZ(360deg);
}

.mainFooterFlex{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerFlex{
    margin: 0px;
    padding: 0px;
    width: 1200px;
    height: 150px;
    background-color: transparent;
    /*border-style: solid;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.flexFooterOne{
    background-color: transparent;
    /*border-style: solid;*/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 500px;
    height: 140px;
    padding-left: 100px;
  
}

.buttonFooterOne{
   
    border-style: solid;
    border-radius: 25px;
    margin: 0px;
    padding: 10px;
    background-color: transparent;
    color: black;
    font-size: 12px;
    transition: background-color 1s, color 1s, font-size 1s;
}

.buttonFooterOne:hover{
    background-color: black;
    color: white;
    font-size: 14px;
}

.flexFooterTwo{
    background-color: transparent;
    /*border-style: solid;*/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 400px;
    height: 150px;
    padding-right: 100px;
}

.buttonFooterTwo{
    border-style: solid;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: black;
    font-size: 13px;
    transition: background-color 1s, color 1s, font-size 1s;
}

.buttonFooterTwo:hover{
    background-color: black;
    color: white;
    font-size: 15px;
}

.instructionsGrid{
    /*background-color: blue;*/
    border-style: solid;
    border-radius: 25px;
    margin-left: 200px;
    background-color: transparent;
/*Need background color for it not to be transparent*/
    display: grid;
    overflow: auto;
/*I don't know why I need two overflow: auto for the slidebar to not spill*/
}

.instructionsFlex{
    /*background-color: brown;*/
    /*border-style: solid;*/
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;

/*I don't know why I need two overflow: auto for the slidebar to not spill*/
}

.gridChessBoard{
    /*background-color: green;*/
    /*border-style: solid;*/
    margin-right: 100px;
    display: grid;
    grid-template-columns: repeat(8, 3.8vw);    
    grid-template-rows: repeat(8, 3.8vw);
/*Adjust size to see what you are moving and counting*/
    justify-content: center;
    align-content: center;

}

.gridBoxGrey{
    background-color: grey;
    border-style: solid;
    display: grid;
}

.gridBoxWhite{
    background-color: white;
    border-style: solid;
    display: grid;
}

.bMoveOne{
    animation-name: bMoveOne;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
/*to end at Y*/    
    animation-delay: 3s;
/*delay before the animation starts*/    
    /*animation-iteration-count: infinite;*/
/*inifinite looping*/    
    animation-direction: alternate;
/*play forwards then backwards*/    
    animation-timing-function: linear;
/*to maintain animation speed*/
}

@keyframes bMoveOne{
    from{ transform: translate(0px)}
    to{ transform: translateY(97px)}
}

.bMoveTwo{
    animation-name: bMoveTwo;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    animation-delay: 6.5s;  
    /*animation-iteration-count: infinite;*/
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes bMoveTwo{
    from{ transform: translate(0px)}
    to{ transform: translate(146px, 145px)}
}

.bMoveThree{
    animation-name: bMoveThree;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    animation-delay: 12s;  
    /*animation-iteration-count: infinite;*/
    animation-direction: alternate;
    animation-timing-function: linear;
}

/*@keyframes bMoveThree{
    from{ transform: translate(0px)}
    to{ transform: translate(-194px, 195px)}
}*/

@keyframes bMoveThree{
    0%{ top: 0px }
    50%{ top: -194px, 195px }
    100%{ top: 97px, 97px}
}

.bMoveFour{
    animation-name: bMoveFour;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    animation-delay: 17s;  

/*animation-iteration-count: infinite;*/
    
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes bMoveFour{
    from{ transform: translate(0px)}
    to{ transform: translate(97px, 97px)}
}


.wMoveOne{
    animation-name: wMoveOne;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    animation-delay: 4.5;  
    /*animation-iteration-count: infinite;*/
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes wMoveOne{
    from{ transform: translate(0px)}
    to{ transform: translateY(-98px)}
}

.wMoveTwo{
    animation-name: wMoveTwo;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    animation-delay: 9.5s;  
    /*animation-iteration-count: infinite;*/
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes wMoveTwo{
    from{ transform: translate(0px)}
    to{ transform: translate(48px, -97px)}
}

.wMoveThree{
    animation-name: wMoveThree;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    animation-delay: 14.5s;  
    /*animation-iteration-count: infinite;*/
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes wMoveThree{
    from{ transform: translate(0px)}
    to{ transform: translate(-50px, -97px)}
}