@font-face {
    font-family: HKGrotesk-Medium;
    src: url(assets/font/HKGrotesk-Medium.otf);
}

@font-face {
    font-family: HKGrotesk-LightLegacy;
    src: url(assets/font/HKGrotesk-LightLegacy.otf)
}

:root {
    background-color: #e1e862;
    background-image: url(assets/images/background.png);
    background-repeat: no-repeat;
    background-size: 70% 120%;
    background-position-x: right;
    background-attachment: fixed;
}

body {
    font-family: HKGrotesk-Medium;
}

.flex-header {
    position: relative;
    left: 3vw;
    margin-right: 3vw;
}

#title {
    color: #615b1f;
    text-shadow: 2px 3px #c8d1223b;
    font-size: 45px;
}

#description {
    font-family: HKGrotesk-LightLegacy;
    color: #666235;
    font-size: 19px;
}

h1 + p {
    margin-top: -35px;
    position: relative;
    left: 6px;
}

.flex-form {
    font-size: 16.5px;
    display: flex;
    flex-direction: column;
    margin: 3.125rem auto 0 auto;
    width: 50%;
    background-color: #c8d1223b;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 1px 3px grey;
}

.required {
    color: red;
}

.textfield {
    width: 100%;
    border-radius: 3px;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #739e10;
	outline: none;
	color: #364d02;
	padding: 5px 8px 5px 8px;
}

#dropdown {
    text-overflow: ellipsis;
}

#comments {
    resize: vertical;
    width: 100%;
    border-radius: 3px;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #739e10;
	outline: none;
	color: #364d02;
	padding: 5px 8px 5px 8px;
}

.flex-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#submit {
    background-color: #e1e862;
    padding: 8px 20px 8px 20px;
	border-radius: 5px;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid darkgrey;
	font-size: 15px;
}

#submit:hover {
    background-color: #c8d1223b;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}

.footer-img {
    width: 100px;
    height: auto;
}

#footer-text {
    position: absolute; 
    align-self: top; 
    padding-bottom: 80px; 
    font-size: small;
}

a {
    color: blue;
    text-decoration: none;
}

/* Media query for mobile */
@media only screen and (max-width : 992px) {
    :root {
        background-image: url(assets/images/plain\ bg.png);
        background-repeat: repeat;
        background-size: 100% 100%;
        background-position-x: center;
        background-attachment: fixed;
    }
    
    #title {
        font-size: 5em;
    }

    #description {
        font-size: 2.5em;
        max-width: 95%;
    }

    .flex-form {
      width: 85%;
      font-size: 3em; 
    }

    .textfield, #comments {
        padding: 20px;
        width: 95%;
        font-size: 1em;
    }

    #dropdown {
        font-size: 0.8em;
    }

    #submit {
        padding: 20px;
        width: 100%;
        font-size: 1em;
    }

    #footer-text {
        padding-bottom: 4.5em;
        font-size: 2em;
    }

    .footer-img {
        width: 12em;
    }

  }
