#chess-board-main-border {
  border: 3vmin solid #595B65;
  border-radius: 2vmin;
  margin: auto;
  width: 40.5vmin;
  position: relative;
  top: 25vmin;
  
}

#chess-board-1st-border {
  border-style: solid;
  border-color: #969897;
  width: 40vmin;
  margin: auto; 
  
}


.wrapper {
  display: grid;
  grid-template-columns: repeat(8, 5vmin);
  justify-content: center;
 
}

.chess-box-1st-row:nth-child(even),
.chess-box-2nd-row:nth-child(odd),
.chess-box-3rd-row:nth-child(even),
.chess-box-4th-row:nth-child(odd),
.chess-box-5th-row:nth-child(even),
.chess-box-6th-row:nth-child(odd),
.chess-box-7th-row:nth-child(even),
.chess-box-8th-row:nth-child(odd) {
  background: #3d3d3d;
  height: 5vmin;
  width: 5vmin;
  display: flex;
  justify-content: center;
}

.chess-box-1st-row:nth-child(odd),
.chess-box-2nd-row:nth-child(even),
.chess-box-3rd-row:nth-child(odd),
.chess-box-4th-row:nth-child(even),
.chess-box-5th-row:nth-child(odd),
.chess-box-6th-row:nth-child(even),
.chess-box-7th-row:nth-child(odd),
.chess-box-8th-row:nth-child(even) {
  background: #eae9e5;
  height: 5vmin;
  width: 5vmin;
  display: flex;
  justify-content: center;
}

img {
  height: 5vmin;
  width:  5vmin;
}

/* body {
  background: linear-gradient(#4295C2 50%, #387EB2 50%) no-repeat;
  min-height: 100%;
  height: auto;
  background: #000; 
} */

p {
  font-family: 'Work Sans', sans-serif;
}


