/* Misc. */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:root {
  --cell-size: 100px;
}

/* Design and position */

.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
}

/* .cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
} */
