*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
  }

:root {
    --main-color-1: #175873;
    --main-color-2: #0c4f6c;
    --main-color-3: #5b8d91;
    --main-color-4: #9bb7c2;
    --main-color-5: #e6edf0;
}

/* GLOBAL ELEMENT STYLES */
html {
    font-size: clamp(30px, 40px, 50px);
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--main-color-1);
    color: var(--main-color-5);
    --lh: 1.25rem;
    line-height: var(--lh);
}

body {
    height: 100%;
    width: 100%;
}

header {
    height: 25vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    text-align: center;
}

    .header-logo {
        padding-left: 1vw;
        height: auto;
        max-width: 400px;
    }

    .header-right {
        padding-right: 5vw;
    }

button {
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

button:hover {
    opacity: 0.85;
}

a {
    color: var(--main-color-5);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* GLOBAL CLASS STYLES */
.hide {
    height: 0;
    width: 0;
    display: none;
    visibility: hidden;
}

.truncate-overflow {
    --max-lines: 3;
    position: relative;
    max-height: calc(var(--lh) * var(--max-lines));
    overflow: hidden;
    padding-right: 1rem; /* space for ellipsis */
    cursor: pointer;
}

.truncate-overflow::before {
    position: absolute;
    content: "...";
    inset-block-end: 0; /* "bottom" */
    inset-inline-end: 0; /* "right" */
}

.truncate-overflow::after {
    content: "";
    position: absolute;
    inset-inline-end: 0; /* "right" */
    width: 1rem;
    height: 1rem;
    background: white;
}

/* font-awesome */
.fa-wikipedia-w {
    background-image: url(assets/fontawesome/wikipedia-w-brands.svg);
}
.fa-youtube {
    position: relative;
}
.fa-youtube::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url(assets/fontawesome/youtube-brands.svg);
    background-repeat: no-repeat;
    background-position: 2%;
    filter: invert(16%) sepia(98%) saturate(5728%) hue-rotate(4deg) brightness(103%) contrast(126%);
}

/* SECTION STYLES */
/* HEADER */
#header-message {
    font-weight: bold;
}

/* QUERY SECTION */
.query-section {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3vh;
}

    .query-message {
        font-size: 1.5rem;
    }


    .wrap {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search {
        color: #063d41;
        width: 80vw;
        height: 90px;
        font-family: inherit;
        font-size: 1.3rem;
        border: 12px solid var(--main-color-3);
        border-right: none;
        border-radius: 5px 0 0 5px;
        margin: 1vh 0;
        padding: 10px;
        outline: none;
    }

    .search-button {
        width: 80px;
        height: 90px;
        border: 1px solid var(--main-color-3);
        background: var(--main-color-3);
        text-align: center;
        color: #fff;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        margin: 1vh 0;
    }

    .search-logo {
        filter: invert(100%);
        height: fit-content;
        width: fit-content;
        transform: scale(1.75);
    }

/* RESULTS SECTION */
    .results-message {
        font-size: 1.3rem;
        margin-left: 5vw;
        margin-bottom: -2vw;
    }

    .results-container {
        border-radius: 25px;
        box-shadow: 0 0 1px 2px var(--main-color-4);
        margin: 5vw;
        height: 60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--main-color-2);
    }

        .results-name {
            font-size: 1.5rem;
            margin: 1vh 0;
        }

        .results-video-container {
            position: relative;
            overflow: hidden;
            width: 100%;
            padding-top: 75%; /* 4:3 Aspect Ratio */
        }

        .results-video {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }

        .result-button {
            border-radius: 15px;
            border: 3px solid var(--main-color-4);
            margin: 1vh 1vw;
            height: 60px;
            width: fit-content;
            padding: 10px;
            padding-left: 80px;
            background-repeat: no-repeat;
            background-position: 2%;
        }

        .results-snippet {
            margin: 1vh 1vw;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: justify;
            text-justify: inter-word;
        }

/* LOADING MODAL */
.modal-loading {
    position:   fixed;
    z-index:    1000;
    top:        25vh;
    left:       0;
    height:     100%;
    width:      100%;
    background: var(--main-color-1)
                url(assets/images/ajax-loader.gif)
                50% 20% 
                no-repeat;
    background-size: 20vw;
}