body {
    display: flex;
    flex-direction: column;
}

#video-section {
    height: 30vw;
    width: 30vw;
    background-color: red;
}

#lyrics-section, textarea {
    width: 50vw;
}

#chords-section {
    width: 20vw;
}

.content {
    display: flex;
    flex-direction: row;
}