/* TABLE OF CONTENTS  
1. Global Styles
2. Layout
3. Typography
4. Components
5. Media Queries
  5.1 Mobile devices
    5.1.1 Global Styles
    5.1.2 Layout
    5.1.3 Typography
    5.1.4 Components
    5.1.5 Keyframes
  5.2 Desktop
    5.2.1 Global Styles
    5.2.2 Layout
    5.2.3 Typography
    5.2.4 Components
  5.3 Desktop (1100px) 
    5.1.1 Global Styles
    5.1.2 Layout
    5.1.3 Typography
    5.1.4 Components
*/

/* color palettes 
  
  Main color: 
    background-color: #4F4599
  Light purple: 
    background-color: #cdc7fa;
  Gray: background-color: 
    background-color: rgb(248, 246, 246);


*/

/* ==========================
      1. Global styles 

      Main color: #4F4599
  ===========================
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  line-height: 1;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* ==========================
      2. Layout
  ===========================
*/

#main-containter {
  display: flex;
}

section {
  display: block;
}

.auth-side header .logo {
  display: block;
}

.auth-sidebar {
  position: relative;
}

.auth-sidebar header {
  text-align: left;
}

.auth-sidebar header .logo {
  display: block;
  margin-bottom: 30px;
}

.auth-sidebar .artwork .artwork-image {
  flex-grow: 1;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

/* login area  */
.content {
  width: 100%;
}

.auth-content {
  width: 100%;
  max-width: 500px;
}

/* ==========================
      3. Typography
  ===========================
*/

body {
  font-family: 'Inter', sans-serif;
}

.auth-sidebar-content .bank-logo:hover {
  fill: white;
}

.auth-sidebar a {
  color: inherit;
  text-decoration: underline;
}

.auth-sidebar a:hover {
  color: #4f4599;
}

.auth-sidebar .artwork .artwork-attribution {
  font-size: 14px;
  line-height: 14px;
  color: white;
  padding: 25px 64px 35px;
  margin: 0;
}

/* .btn-login a {
  text-decoration: none;
} */

.btn-login input {
  font-size: 1rem;
}

.btn-login input:hover {
  opacity: 0.7;
}
/* ==========================
      4. Components
  ===========================
*/

.auth-sidebar header .bank-logo {
  width: 90px;
  height: auto;
  fill: currentColor;
  /* color: white; */
  color: #4f4599;
}

/* images  */
.artwork-image {
  background-image: url(assets/astronaut_and_octopus_artwork_illustration_generated.jpg);
}

/* login area  */

/* input fields  */
.gen-form .form-field input,
.transaction-form .form-field input,
.auth-nav .form-field input {
  height: 2.5em;
  border-radius: 5px;
  background-color: #efeff0;
  width: 100%;
  border: none;
}

/* login button */
.btn-login input {
  color: white;
  background-color: #4f4599;
  padding: 1em 2em;
  border-radius: 10px;
  width: 100%;
}

.btn-login input {
  margin-top: 10px;
}

/* ==========================
      5. Media Queries
  ===========================
        5.1 Mobile Devices

  Working on the ff devices & resolution 
  1. Moto G4, Galaxy S5   360 x 640
  2. Pixel 2              411 x 731
  3. Pixel 2 XL           411 x 823
*/

@media (min-width: 360px) and (max-width: 640px) {
  /* 5.1.1 Global Styles  */

  /* 5.1.2 Layout  */

  section {
    display: block;
  }

  main {
    margin: 0 auto;
    padding: 0 20px;
  }

  main {
    display: block;
  }

  content {
    width: 100%;
    outline: dotted 0.5px;
  }

  .auth-sidebar header h1 {
    display: none;
  }

  .auth-sidebar {
    position: relative;
  }

  .auth-content {
    width: 100%;
    /* max-width: 416px; */
    /* margin: auto; */
    height: 500px;
    padding: 0 20px 0 20px;
  }

  .font-heading-2 {
    margin: 0px 0px 1.8em;
  }

  .auth-register-container {
    display: block;
  }

  .form-field {
    position: relative;
  }

  .gen-form .form-field {
    margin: 10px 0 10px;
    padding: 0;
  }

  .gen-form .form-field label,
  .gen-form .form-field input {
    display: block;
    margin: 5px 0 5px;
  }

  /* 5.1.3 Typography  */

  .font-heading-2 {
    font-size: 2rem;
    font-weight: 800;
  }

  .btn-login input {
    font-size: 1rem;
  }

  /* 5.1.4 Components  */

  /* logo  */
  .auth-sidebar header {
    margin: auto;
    max-width: 416px;
    padding: 48px 20px 0;
    text-align: left;
  }

  .auth-sidebar header .logo {
    display: block;
    margin-bottom: 30px;
  }

  .auth-sidebar header .logo .bank-logo {
    width: 90px;
    height: auto;
  }

  /* login button */
  .btn-login input {
    color: white;
    background-color: #4f4599;
    padding: 0.7em 9em;
    border-radius: 10px;
  }

  .btn-login input {
    margin-top: 10px;
  }
  /* .auth-register-container a:hover {
    color: white;
    background-color: #675ac9;
    padding: 0.5em 1.5em;
  } */

  /* login and password container  */
  /* .gen-form .form-field {
    display: block;
  } */

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0 2.2em 0 2.2em;
  }

  /* modal content  */
  .modal-content {
    background-color: white;
    margin: auto;
    border: 1px solid #888;
    border-radius: 20px;
    width: 70vh;
    height: auto;
    position: fixed;
    top: 200px;
    left: 25%;
    animation-name: animatemodal;
    animation-duration: 0.5s;
  }

  /* classList for JS */
  .show {
    display: block;
  }

  .hide {
    display: none;
  }

  /* ! 5.1.5 Keyframes */

  /* modal animation  */
  @keyframes animatemodal {
    from {
      top: 0;
      opacity: 0;
    }
    to {
      top: 200px;
      opacity: 1;
    }
  }
}

/* ======================================
        5.2 Desktop  
  =======================================

  Working on the ff devices & resolution 
  1. Desktop            1440 x 1024
*/

@media (min-width: 960px) {
  /* 5.2.1 Global Styles */

  html,
  body {
    height: 100%;
  }

  /* 5.2.2 Layout */

  #main-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }
  .auth-sidebar {
    flex-grow: 0;
  }

  .sign-in .auth-sidebar {
    background-color: black;
  }
  .auth-sidebar .auth-sidebar-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .auth-sidebar header {
    max-width: 100%;
    margin: 0;
  }

  .auth-sidebar header h1 {
    display: block;
    padding-right: 30px;
  }

  .auth-sidebar .artwork {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
  }

  .auth-sidebar .artwork .artwork-image {
    max-height: 70%;
  }

  /* login area  */
  .content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
  }

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin: 0;
    padding: 0;
  }

  .auth-content {
    padding: 30px 60px 0;
    margin: 0;
  }

  /* 5.2.3 Typography */
  .auth-sidebar header h1,
  .font-heading-2 {
    font-size: 2.5rem;
    font-weight: 800;
  }

  .auth-sidebar header h1 {
    color: white;
  }

  .btn-login input {
    font-size: 1rem;
  }
  /* 5.2.4 Components */
}

/* ================================ 
        5.3 Desktop (1100px)  
   ================================*/

@media (min-width: 1100px) {
  /* 5.3.1 Global Styles */
  /* 5.3.2 Layout */
  .auth-sidebar {
    width: 514px;
  }

  .auth-sidebar header {
    padding: 64px 64px 30px;
  }

  .auth-sidebar {
    position: relative;
  }

  .auth-sidebar header {
    text-align: left;
  }

  .auth-sidebar header .logo {
    display: block;
    margin-bottom: 30px;
  }

  .auth-sidebar .artwork {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
  }

  .auth-sidebar .artwork .artwork-image {
    max-height: 70%;
  }

  .auth-sidebar .artwork .artwork-image {
    flex-grow: 1;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
  }

  /* 5.3.3 Typography */
  /* 5.3.4 Components */
}
