/* ! TABLE OF CONTENTS  
1. Global Styles
2. Layout
3. Typography
4. Components
5. Media Queries
  5.1 Mobile devices
    5.1.1 Global Styles
    5.1.2 Layout
    5.1.3 Typography
    5.1.4 Components
6. Keyframes
*/

/* ! Color palettes 
  
  Main color: 
    background-color: #4F4599
  Light purple: 
    background-color: #cdc7fa;
  Gray: background-color: 
    background-color: rgb(248, 246, 246);


*/

/* ==========================
      ! 1. Global styles 
  ===========================
*/
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ==========================
      ! 2. Layout
  ===========================
*/

/* navigation bar  */
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

li {
  text-decoration: none;
  list-style: none;
}

header {
  background-color: #4f4599;
  padding: 0.9em 0 0.9em;
  color: white;
}
/* ==========================
      ! 3. Typography
  ===========================
*/

body {
  /* font-family: 'Inter', sans-serif; */
  font-family: 'Work Sans', sans-serif;
}

/* ==========================
  ! 5. Media Queries
    5.1 Mobile devices
  ===========================    
*/

@media (min-width: 360px) {
  /* ! mobile */
  /* 5.1.1 Global Styles  */

  /* ! mobile */
  /* 5.1.2 Layout */

  /* navigation bar  */
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  li {
    text-decoration: none;
    list-style: none;
  }

  header {
    background-color: #4f4599;
    padding: 0.9em 0 0.9em;
    color: white;
  }

  .nav-links {
    color: white;
    text-decoration: none;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  body:nth-child(even) {
  }

  section {
    display: block;
  }

  wrapper:nth-child(even) {
    /* background-color: #8475fa; */
  }
  #spendings {
    height: 20%;
    background-color: rgb(248, 246, 246);
  }

  .spendings-wrapper {
    padding: 1em 0 1em 1em;
  }

  #history {
    /* outline: dotted 0.5px; */
  }

  .history-wrapper {
    margin-top: 1em;
    padding: 0 1.5em 0 1.5em;
  }

  #add {
    position: fixed;
    bottom: 0;
    background-color: rgb(248, 246, 246);
    width: 100%;
    text-align: center;
  }

  /* ! mobile  */
  /* 5.1.3 Typography */

  .spendings-wrapper h2 {
    font-size: 3rem;
    color: #4f4599;
  }

  h3 {
    font-weight: 500;
    color: #4f4599;
  }

  /* ! mobile  */
  /* 5.1.4 Components */

  /* Spendings history  table */
  table {
    border-collapse: collapse;
    width: 100%;
  }

  td {
    border: solid 1px #dddddd;
  }

  tr:nth-child(even) {
    background-color: #cdc7fa;
  }

  .buttons {
    text-decoration: none;
    background-color: #4f4599;
    font-size: 1rem;
    color: white;
  }

  /* Modal */

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0 2.2em 0 2.2em;
  }

  /* modal content  */
  .modal-content {
    background-color: white;
    margin: auto;
    border: 1px solid #888;
    width: 80%;
    height: auto;
    position: fixed;
    top: 200px;
    animation-name: animatemodal;
    animation-duration: 0.5s;
    border-radius: 1em;
  }

  .modal-content h3,
  .form-field,
  label,
  input {
    display: block;
  }

  .modal-content .form-field,
  h3 {
    margin-bottom: 15px;
  }

  /* ? add expense button  */
  .add-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
  }
  /* ? customizes add expense button on top of buttons class */
  #add-btn {
    font-size: 3rem;
    padding: 0.2em 0.7em;
    border-radius: 1.2em;
  }

  /* ? modal components  */
  .transaction-form {
    /* margin: 10px 0 10px; */
    /* padding: 0.2em; */
    padding: 1em 1em 1em;
  }

  /* ? input fields and modal button design */
  .modal-content input,
  .form-field input {
    /* font-size: 1rem; */
    width: 100%;
    border-radius: 5px;
    height: 2.5em;

    /* padding: 0.2em 9.05em; */
  }

  /* ? add expense input fields  */
  .form-field input {
    background-color: #efeff0;
    border: none;
  }
}

/* ! Default  */
/* Keyframes */

/* modal animation  */
@keyframes animatemodal {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 200px;
    opacity: 1;
  }
}
