*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
  }

:root {
    --modal-font-size: 1.2rem;
}

html {
    font-size: 20px;
    height: 100%;
    width: 100%;
    background-color: coral;
}

body, .content, .modal {
    height: 100%;
    width: 100%;
}


.hide {
    height: 0;
    display: none;
}

button {
    cursor: pointer;
}

/* General Modal Containers */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--modal-font-size);
}

.modal-container {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

    .modal-title {
        font-size: 2rem;
        text-align: center;
        padding: 20px;
    }

    .form-container {
        display: flex;
        flex-direction: column;
    }

    .form-item {
        width: 100%;
        display: flex;
        margin-bottom: 5px;
    }

    .form-item label {
        display:inline-block;
        width: 200px;
        vertical-align:bottom;
    }

    .form-container select {
        font-size: var(--modal-font-size);
        width: 120px;
        background-color: white;
    }

    .form-container input, #form-grid-size {
        font-size: var(--modal-font-size);
        width: 2rem;
        text-align: center;
    }

    .emoji-btn {
        margin-left: 5px;
        padding-left: 2px;
        padding-right: 2px;
        font-size: calc(var(--modal-font-size) - 0.5rem);
        align-self: center;
        background-color: white;
    }

    .form-footnote {
        font-size: calc(var(--modal-font-size) - 0.4rem);
    }

    .form-submit {
        font-size: var(--modal-font-size);
        margin-top: 20px;
        padding: 20px;
        align-self: center;
        background-color: white;
    }

/* General Content Containers */
.content-top {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .title {
        font-size: 1.8rem;
    }

    .title-desc {
        font-size: 0.9rem;
    }

/* content-center: phones on top */
.content-center {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
    .center-left {
        width: 100%;
        height: 15%;
    }

    .center-middle {
        width: 100%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid red;
    }

        /* GRID BOARD */
        .grid-container {
            height: 63vmin;
            width: 63vmin;
            display: grid;
        }

        /* Grid Items */

        .grid-item {
            background-color: cornsilk;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid black;
        }

        .hover {
            cursor: pointer;
        }

        .hover:hover {
            opacity: 0.9;
        }

    .center-right {
        width: 100%;
        height: 15%;
    }

    /* Avatars and content */
    .center-left, .center-right {
        display: grid;
        grid-template-columns: 1fr 75px 80px 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        '. avatar title .'
        '. avatar mark .';
    }

    .center-right {
        grid-template-areas: 
        '. title avatar .'
        '. mark avatar .';
    }

    .content-title {
        grid-area: title;
        align-self:flex-end;
    }

    .content-desc {
        grid-area: mark;
    }

    .content-avatar {
        grid-area: avatar;
        height: 60px;
        width: 60px;
        background-color: blue;
        border: 3px solid purple;
        background-image: url(assets/feathericons/user.svg);
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
        align-self: center;
    }

.content-bottom {
    height: 10%;
    width: 100%;
    text-align: center;
}

    .content-message {
        font-size: 1.5rem;
        padding-bottom: 10px;
    }

    .content-buttons button {
        font-size: 1rem;
        padding: 5px;
        margin: 5px;
    }

/* content-center: separate */
@media screen and (min-width: 600px) {
    #form-opponent-selection {
        width: auto;
    }
    /* MAIN CONTENTS */
    .content-top {
        height: 15%;
        width: 100%;
    }

    .content-center {
        height: 65%;
        width: 100%;
        display: flex;
        flex-direction: row;
        text-align: center;
    }
    
        .center-left {
            height: 100%;
            width: 20%;
        }

        .center-middle {
            height: 100%;
            width: 60%;
        }

            .grid-container {
                height: 64vmin;
                width: 64vmin;
            }

        .center-right {
            height: 100%;
            width: 20%;
        }

        /* Avatars and content */
        .center-left, .center-right {
            display: unset;
        }

        .content-avatar {
            height: 75px;
            width: 75px;
            margin-top: 10px;
            margin-bottom: 5px;
        }

    .content-bottom {
        height: 20%;
        width: 100%;
        text-align: center;
    }
}