*{
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    font-family: 'Amatic SC', cursive;
}

/* p {
    border: 3.5px solid red;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    width: 250px;
} */

a {
    color: #7700b3;
    text-decoration: none;
    font-size: 25px;
}

a:hover {
    color: #b366ff;
    text-decoration: underline;
}

.inputStyleOne {
    border-radius: 10px;
    border: 2px solid #7700b3;
    color: #b366ff;
    font-size: 30px;
    font-weight: bold;
    height: 40px;
    outline: none;
    padding-left: 15px;
    width: 200px;
}

.inputStyleTwo {
    border-radius: 10px;
    border: 2px solid #7700b3;
    color: #b366ff;
    font-size: 30px;
    font-weight: bold;
    height: 40px;
    outline: none;
    text-align: center;
    width: 150px;
}

::placeholder { 
    color: #7700b3; 
}

.buttonStyleOne {
    background-color: #7700b3;
    border: 1px solid #7700b3;
    border-radius: 15px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    height: 40px;
    width: 100px;
}

.buttonStyleTwo {
    background-color: #7700b3;
    border: 1px solid #7700b3;
    border-radius: 15px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    height: 40px;
    width: 100px;
    margin-top: 5px;
}

/*A10login.html*/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.purpleCon {
    background-color: #b366ff;
    color: white;
    font-size: 50px;
    font-weight: bold;
    height: 200px;
    padding: 10px 0px 0px 30px;
    width: 100%; 
}

.formStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    border: 3.5px solid #7700b3;
    border-radius: 25px;
    height: 400px;
    margin: 350px 0px 0px 0px;
    position: absolute;
    width: 350px;
}

.logoCon {
    height: 45px;
    width: 60px;
}

.hidden {
    visibility: hidden;
}

/*A10profile.html*/
.greetUser {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 3.5px solid #7700b3;
    border-radius: 25px;
    font-size: 40px;
    height: 80px;
    margin: 0px 800px 350px 0px;
    position: absolute;
    width: 400px;
}

.containerSub {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 1000px;
    margin-top: 50px;
}

.containerSubOne {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 50%;
}

.containerSubTwo {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 90%;
    width: 50%;
}

.flexStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subHeader {
    text-align: center;
    background-color: white;
    border: 3.5px solid #7700b3;
    border-radius: 25px;
    font-size: 40px;
    height: 50px;
    margin: 0px 20px 0px 0px;
    width: 200px;
}

.display {
    color: #7700b3;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
}