/* general styles */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    cursor: pointer;
}

label {
    margin-bottom: 12px;
    font-size: 15px;
    font-weight: bold;
}

input {
    height: 20px;
    width: 120px;
    margin-bottom: 12px;
    border: 2.5px solid black;
    border-radius: 5px;
    padding-left: 10px;
    font-weight: bold;
    outline: none;
    }
input:hover {
    border-color: #FFFF66;
}

::placeholder { 
    color: black;
}

button {
    height: 30px;
    width: 70px;
    border-radius: 10px;
    background-color: white;
    border: 2.5px solid black;
    font-size: 15px;
    font-weight: bold;
}
button:hover {
    border-color: black;
    background-color: black;
    color: #FFFF66;
}

/* styling */
.flexStyleRow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexStyleColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flexStyleColumnStart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.flexStyleEvenly {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.flexStyleSpaceBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.linkHover:hover {
    color: #A9A9A9;
}

.displayHeader {
    width: 90%;
}

.displayTitle {
    height: 30px;
    width: 400px;
    background-color: #FFFF66;
    border: 3px solid #FFFF66;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    text-align: center;
}

.popupCon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 350px;
    width: 330px;
    position: absolute;
    margin: 180px 0px 0px 0px;
    background-color: white;
    border: 2.9px solid black;
    border-radius: 25px;
}

.popUpHeader {
    width: 80%;
    padding: 5px 0px 5px 0px;
    background-color: #FFFF66;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-align: center;
}

.popupFooter {
    width: 20%;
    padding: 3px 0px 3px 0px;
    background-color: black;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;    
    font-size: 12px;
    color: #FFFF66;
    text-align: center;
}
.popupFooter:hover {
    background-color: #FFFF66;
    color: black;
}

/* body */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

/* header */
.header {
    height: 80px;
    width: 70%;
    background-color: #FFFF66;
    border: 3px solid #FFFF66;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    font-weight: bold;
    padding: 0px 0px 0px 50px;
}

.subHeader {
    height: 20px;
    width: 350px;
}

/* dashboard */
.dashboard {
    height: 550px;
    width: 85%;
    margin: 20px 0px 20px 0px;
}

/* sidebar */
.sideBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 20%;
    font-weight: bold;
    margin-top: 50px;
}

.functionsCon {
    flex-direction: column;
}

.functions {
    width: 150px;
    margin-top: 30px;
    padding: 5px;
    border-bottom: 3px solid #FFFF66;
    font-weight: bold;
    text-align: center;
}

/* display */
.display {
    height: 100%;
    width: 80%;
}

/* inventory manager */
.inventoryCon {
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.tableCon {
    height: 480px;
}

.tableStyle {
    border-collapse: collapse;
    /* to remove extra spaces */
    min-width: 800px;
    text-align: center;
    margin: 20px 0px 20px 0px;
}

.tableStyle thead tr {
    background-color: #FFFF66;
}

.tableStyle th,
.tableStyle td {
    padding: 8px;
}

.tableStyle tbody tr:nth-of-type(even){
    background-color:#FFFFCC;
    border-bottom: none;
}

tbody tr:hover {
    color: #A9A9A9;
}

.reminder {
    font-style: italic;
}

/* footer */
.footer {
    height: 130px;
    width: 100%;
    background-color: #FFFF66;
}
.footer:hover {
    background-color: black;
    color: #FFFF66;
}

/* POPUPS */
.hidden {
    visibility: hidden;
}

/* store */
.storeOptions {
    width: 100%;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 16px;
}

/* store product */
.storeProductForm {
    width: 100%;
}

/* cash deposit */
.cashDepositForm {
    width: 100%;
}

.cashDepositFormCon {
    height: 110px;
    width: 100%;
}

.convertedAmount {
    font-size: 14px;
    font-weight: bold;
}

.coverButton {
    margin-bottom: 10px;
}

/* donate */
.donateForm {
    flex-direction: column;
    height: 190px;
    width: 100%;
}

.donateFormCon {
    width: 85%;
}

/* transaction history */
.transactionHistoryCon {
    flex-direction: column;
    height: 550px;
    width: 853px;
    position: absolute;
    margin: 105px 0px 0px 213px;
    background: white;
}

.transactionHistoryHeader {
    width: 40%;
    border: 3px solid #FFFF66;
    background-color: #FFFF66;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    font-weight: bold;
    text-align: center;
}

/* background design */
.styleOne {
    height: 60px;
    width: 60px;
    transform: rotate(30deg);
    position: absolute;
    margin-right: 1200px;
}

.styleTwo {
    height: 60px;
    width: 60px;
    transform: rotate(-30deg);
    position: absolute;
    margin-right: 1200px;
}

.groceryOne {
    margin-top: 190px;
}

.groceryTwo {
    margin-top: 258px;
}

.groceryThree {
    margin-top: 325px;
}

.groceryFour {
    margin-top: 410px;
}

.groceryFive {
    margin-top: 485px;
}

.grocerySix {
    height: 65px;
    width: 65px;
    transform: rotate(-30deg);
    position: absolute;
    margin: 560px 1210px 0px 0px;
}

.apple {
    height: 100px;
    width: 100px;
    position: absolute;
    margin: 240px 0px 0px 220px;
    transform: rotate(-30deg);
}

.mango {
    height: 100px;
    width: 100px;
    position: absolute;
    margin: 250px 0px 0px 220px;
    transform: rotate(10deg);
}

.grapes {
    height: 90px;
    width: 90px;
    position: absolute;
    margin: 250px 0px 0px 220px;
    transform: rotate(5deg);
}

.orange {
    height: 90px;
    width: 90px;
    position: absolute;
    margin: 250px 0px 0px 220px;
    transform: rotate(30deg);
}

.carrot {
    height: 90px;
    width: 90px;
    position: absolute;
    margin: 250px 0px 0px 220px;
    transform: rotate(0deg);
}