/* general styles */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    cursor: pointer;
}

button {
    height: 40px;
    width: 60px;
    border-radius: 10px;
    font-weight: bold;
}
button:hover {
    background-color: black;
    border: 3px solid black;
    color: #FFFF66;
}

input {
    height: 30px;
    width: 150px;
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 15px;
    font-weight: bold;
    outline: none;
}
input:hover {
    border-color: #FFFF66;
}

::placeholder { 
    color: #A9A9A9;
}

/* styling */
.flexStyleRow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexStyleColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flexStyleEvenly {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.flexStyleSpaceBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bold {
    font-weight: bold;
}

.borderBackground {
    background-color: #FFFF66;
    border: 3px solid #FFFF66;
}

.linkHover:hover {
    color: #A9A9A9;
}

/* body */
.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* header */
.header {
    height: 80px;
    width: 80%;
    padding: 0px 20px 0px 20px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    font-weight: bold;
}

.subHeaderOne {
    height: 50px;
    width: 500px;
}

.subHeaderTwo {
    height: 40px;
    width: 250px;
}

/* weather update */
.weather {
    flex-direction: column;
    height: 180px;
    width: 600px;
    margin-top: 30px;
    font-size: 28px;
}

/* what we do */
.whatWeDo {
    height: 280px;
    width: 680px;
    margin-top: 30px;
    border-radius: 25px;
    text-align: center;
}
.whatWeDo:hover {
    background-color: black;
    border: 3px solid black;
    color: #FFFF66;
}

/* testimonials */
.testimonials {
    height: 150px;
    width: 1000px;
    margin-top: 30px;
}

.feedbackCon {
    height: 100px;
    width: 90%;
    margin-top: 30px;
    text-align: center;
}

.feedback {
    height: 100%;
    width: 280px;
    border: 3px solid #FFFF66;
    border-radius: 25px;
}
.feedback:hover {
    background-color: black;
    border: 3px solid black;
    color: #FFFF66;
}

/* last section */
.lastSection {
    width: 1000px;
    margin: 50px 0px 30px 0px;
}

/* contact us */
.contactUs {
    flex-direction: column;
    height: 120px;
    width: 500px;
    border-radius: 25px;
}

.adjust {
    margin-right: 45px;
}

.contactFont {
    font-size: 15px;
}

/* social media */
.socialMedia {
    height: 100px;
    width: 380px;
}

.icons {
    height: 50px;
    width: 180px;
}

.logoCon {
    height: 45px;
    width: 60px;
}

/* footer */
.footer {
    height: 130px;
    width: 100%;
    background-color: #FFFF66;
}
.footer:hover {
    background-color: black;
    color: #FFFF66;
}

/* popup */
.hidden {
    visibility: hidden;
}

.popup {
    flex-direction: column;
    height: 350px;
    width: 350px;
    position: absolute;
    margin: 0px 0px 550px 0px;
    background-color: white;
    border: 3px solid black;
    border-radius: 25px;
    font-weight: bold;
}

.changePopup {
    font-size: 15px;
}
.changePopup:hover {
    text-decoration: underline;
}