*{
    font-family: Helvetica;
}

h1, h2, h3, p, ul, li{
    text-align: center;
}

textarea{
    resize: none;
}

.main{
    /*background-color: yellow;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    /*background-color: red;*/
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    /*vertical*/
    align-items: center;
    /*horizontal*/
    border-style: double;
}

.question{
    /*background-color: blue;*/
    display: flex;
    flex-direction: column;
    justify-content: center ;
    /*horizontal*/
    align-items: center;
    /*vertical*/
    margin: 10px;
    padding: 10px;
}

.formatOne{
    /*background-color: blue;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.formatTwo{
    /*background-color: yellow;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 400px;
}