@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');

:root {
  --modal-duration: 1s;
  --primary-color: #194286;
  --secondary-color: #e28631;
  --non-CTA-color: #ffffff;
  --thin-outline: solid 1px black;
}

body {
  transition: transform 0.3s ease;
}

body.show-nav {
  /* Width of nav */
  transform: translateX(200px);
}

nav {
  display: block;
}

nav {
  border-right: 2px solid rgba(200, 200, 200, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  z-index: 100;
  transform: translateX(-100%);
}

nav .logo {
  padding: 30px 0;
  text-align: center;
}

nav .logo img {
  height: 75px;
  width: 75px;
  /* border-radius: 50%; */
}

nav .logo img:hover {
  cursor: pointer;
}

nav ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

nav ul li {
  border-bottom: 2px solid rgba(200, 200, 200, 0.1);
  padding: 20px;
}

nav ul li:first-of-type {
  border-top: 2px solid rgba(200, 200, 200, 0.1);
}

nav ul li a {
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

header {
  font-size: 130%;
  position: relative;
  padding: 40px 15px;
  text-align: center;
}

button:focus {
  outline: none;
}

.container {
  padding: 15px;
  margin: 0 auto;
  max-width: 100%;
  width: 800px;
}

/* ==========================================
          --TYPOGRAPHY
========================================== */

textarea,
body {
  font-family: 'Baloo Tammudu 2', cursive;
}

/* ==========================================
          --LAYOUT
========================================== */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.conversation-wrapper,
.text-wrapper,
.facts-wrapper,
.ref-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-wrapper input {
  float: right;
}

.modal-content h3 {
  text-align: center;
}

.modal-content p {
  text-align: center;
}

.image-wrapper {
  position: relative;
}
.drawer {
  top: 20px;
  left: 20px;
}

.settings {
  top: 20px;
  right: 20px;
}

.info {
  top: 20px;
  right: 20px;
}
/* ==========================================
          --COMPONENTS
========================================== */
.toggle {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  cursor: pointer;
}

#unsplash-btn,
#play {
  background-color: transparent;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#unsplash-btn {
  width: 2.5em;
  height: 2em;
  margin: auto;
  position: absolute;
  right: 1em;
  top: 37em;
  background-image: url(assets/arrow-right-solid.svg);
}

#play {
  background-image: url(assets/play-solid.svg);
}

.fa,
.fas {
  font-weight: 900;
  font-family: 'Font Awesome 5 Free';
}

.fa-2x {
  font-size: 2em;
}

nav,
header,
nav ul li a,
button,
input[type='submit'],
.modal-content h3,
.conversation-wrapper h3 {
  color: #ffffff;
}

nav,
header,
.modal-content h3 {
  background-color: var(--primary-color);
}

/* alert message */

.alert {
  /* padding: 15px; */
  /* margin-bottom: 20px; */
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

#unsplash-img {
  /* outline: var(--thin-outline); */
}

button,
input[type='submit'] {
  background-color: var(--secondary-color);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px 12px;
}

/* non CTA button */
#close {
  border: 1px solid rgb(128, 128, 128);
  border-radius: 5px;
  cursor: pointer;
  padding: 8px 12px;
  background-color: var(--non-CTA-color);
  color: var(--secondary-color);
}

#close:hover,
input[type='submit']:hover {
  opacity: 0.5;
}

.modal {
  /* display: none; */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0 2.2em 0 2.2em;
}

.modal-content {
  background-color: white;
  margin: auto;
  border: 1px solid #888;
  width: 40%;
  height: auto;
  position: fixed;
  top: 200px;
  left: 30%;
  animation-name: animatemodal;
  animation-duration: 0.5s;
  /* border-radius: 1em; */
}

.form-field,
label {
  display: block;
}

.form-field {
  margin: 0 1em 0 1em;
}

.button-wrapper {
  padding: 1em;
}

.button-wrapper input {
  margin: 0 1em 1em;
}

.loader {
  display: block;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25em;
  width: 25em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-image: url(assets/image-regular.svg);
}

textarea {
  padding: 1em;
  resize: none;
}

.conversation-wrapper h3 {
  background-color: var(--secondary-color);
  border-radius: 0.5em;
  padding: 0.5em;
}

#play,
.conversation-wrapper h3 {
  margin-top: 1em;
}
/* ==========================================
          --KEYFRAMES
========================================== */
@keyframes animatemodal {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 200px;
    opacity: 1;
  }
}

/* Loader */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* classlist */
.show {
  display: block;
}

.hide {
  display: none;
}
